<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- Import the core config -->
    <import from="config/core.xml"/>

    <layout>
        <!-- Define variables used to configure the desktop -->
        <variables>
            <!-- Taskbar item settings -->
            <set name="taskbar.item.size" value="50" />
            <set name="taskbar.item.padding" value="5"/>
            <set name="taskbar.item.background" value="#2a628f"/>
            <set name="taskbar.item.backgroundActive" value="#3e92cc"/>

            <!-- Taskbar settings -->
            <set name="taskbar.margin" value="20"/>
            <set name="taskbar.background" value="#13293d"/>
            <set name="taskbar.width" value="calc('${screen.width} - ${taskbar.margin} * 2')"/>
            <set name="taskbar.height" value="calc('${taskbar.item.size} + ${taskbar.item.padding} * 2')"/>

            <!-- Tray settings -->
            <set name="taskbar.tray.width" value="200"/>
            <set name="taskbar.tray.font" value="Segoe UI,9"/>
            <set name="taskbar.tray.fontColor" value="white"/>

            <!-- Work area settings -->
            <set name="workArea.x" value="0"/>
            <set name="workArea.y" value="calc('${taskbar.height} + ${taskbar.margin} * 2')"/>
            <set name="workArea.width" value="${screen.width}"/>
            <set name="workArea.height" value="calc('${screen.height} - ${taskbar.height} - ${taskbar.margin} * 2')"/>

            <!-- Desktop settings -->
            <set name="desktop.wallpaper" value="expand('%SYSTEMROOT%\Web\Wallpaper\Windows\img0.jpg')"/>

            <!-- Start menu settings -->
            <set name="startMenu.width" value="400"/>
            <set name="startMenu.height" value="600"/>
            <set name="startMenu.item.size" value="50"/>
            <set name="startMenu.item.font" value="Segoe UI,10"/>
            <set name="startMenu.item.fontColor" value="white"/>
        </variables>

        <!-- Set the work area -->
        <import from="config/workArea.xml"/>

        <!-- Create desktop components -->
        <import from="config/ui/desktop.xml"/>
        <import from="config/ui/startMenu.xml"/>
        <import from="config/ui/taskbar.xml"/>
    </layout>
    <hotkeys>
        <hotkey keys="Win+F1" action="media.decreaseVolume()"/>
        <hotkey keys="Win+F2" action="media.increaseVolume()"/>
        <hotkey keys="Win+F3" action="media.decreaseBrightness()"/>
        <hotkey keys="Win+F4" action="media.increaseBrightness()"/>
        <hotkey keys="Win" action="window.toggle(startMenu)"/>
    </hotkeys>
</config>
