body {
    margin: 0;
    border: 0;
    left: 0;
    top: 0;
    cursor: default;
    user-select: none;
    -ms-user-select: none;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
}
